---

---

<!doctype html>
<html lang="fr">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<title>Melvyn PETIT | Développeur web</title>
	</head>
	<body>
		<main>
            <div class="mentions">
                <h1>Mentions légales</h1>
                <h2>Conditions générales d’utilisation</h2>
                <p>
                    Merci de lire avec attention les différentes modalités d’utilisation du présent site avant d’y parcourir ses pages. 
                    En vous connectant sur ce site, vous acceptez, sans réserves, les présentes modalités.
                </p>

                <h2>Informations légales</h2>
                <p>
                    Conformément à l’article n°6 de la Loi n°2004-575 du 21 Juin 2004 pour la confiance dans l’économie numérique, 
                    les responsables du présent site internet www.melvynpetit.fr sont :
                </p>

                <h3>Éditeur du site</h3>
                <p>
                    Melvyn PETIT<br>
                    SIRET : 98968608400017<br>
                    Responsable de publication : Melvyn PETIT<br>
                    Téléphone : 07 59 64 84 56<br>
                    Email : webmaster@melvynpetit.fr<br>
                    Site web : www.melvynpetit.fr
                </p>

                <h3>Hébergement</h3>
                <p>Hébergeur : Github pages</p>

                <h2>Conditions d’utilisation</h2>
                <p>
                    Ce site est proposé avec différents langages web (HTML, CSS, Javascript, etc…) 
                    pour un meilleur confort d’utilisation et un graphisme plus agréable.
                </p>
                <p>
                    Nous vous recommandons de recourir à des navigateurs modernes comme Internet Explorer, Safari, Firefox, Google Chrome, etc…
                </p>
                <p>
                    www.melvynpetit.fr met en œuvre tous les moyens dont elle dispose, pour assurer une information fiable et une mise à jour fiable de ses sites internet. 
                    Toutefois, des erreurs ou omissions peuvent survenir.
                </p>
                <p>
                    L’internaute devra donc s’assurer de l’exactitude des informations 
                    et signaler toutes modifications du site qu’il jugerait utile. 
                    www.melvynpetit.fr n’est en aucun cas responsable de l’utilisation faite de ces informations, 
                    et de tout préjudice direct ou indirect pouvant en découler.
                </p>

                <h2>Cookies</h2>
                <p>
                    Le site www.melvynpetit.fr peut être amené à vous demander l’acceptation des cookies pour des besoins de statistiques et d’affichage. 
                    Un cookie est une information déposée sur votre disque dur par le serveur du site que vous visitez.
                </p>
                <p>
                    Il contient plusieurs données qui sont stockées sur votre ordinateur dans un simple fichier texte 
                    auquel un serveur accède pour lire et enregistrer des informations. 
                    Certaines parties de ce site ne peuvent être fonctionnelles sans l’acceptation de cookies.
                </p>

                <h2>Liens hypertextes</h2>
                <p>
                    Les sites internet peuvent offrir des liens vers d’autres sites internet ou d’autres ressources disponibles sur Internet. 
                    www.melvynpetit.fr ne dispose d’aucun moyen pour contrôler les sites en connexion avec ses sites internet.
                </p>
                <p>
                    www.melvynpetit.fr ne répond pas de la disponibilité de tels sites et sources externes, ni ne la garantit. 
                    Ne peut donc pas être tenue pour responsable de tout dommage, de quelque nature que ce soit, 
                    résultant du contenu de ces sites ou sources externes.
                </p>
                <p>
                    Les risques liés à cette utilisation incombent pleinement à l’internaute, qui doit se conformer à leurs conditions d’utilisation.
                </p>

                <h2>Services fournis</h2>
                <p>
                    L’ensemble des activités de la société ainsi que ses informations sont présentés sur notre site www.melvynpetit.fr.
                </p>
                <p>
                    www.melvynpetit.fr s’efforce de fournir sur le site des informations aussi précises que possible. Les renseignements figurant sur le site 
                    ne sont pas exhaustifs et les photos non contractuelles.
                </p>
                <p>
                    Ils sont donnés sous réserve de modifications ayant été apportées depuis leur mise en ligne. 
                    Par ailleurs, toutes les informations indiquées sont données à titre indicatif, 
                    et sont susceptibles de changer ou d’évoluer sans préavis.
                </p>

                <h2>Limitations contractuelles sur les données</h2>
                <p>
                    Les informations contenues sur ce site sont aussi précises que possible et le site est mis à jour régulièrement, 
                    mais peut toutefois contenir des inexactitudes ou des omissions.
                </p>
                <p>
                    Si vous constatez une lacune, erreur ou ce qui paraît être un dysfonctionnement, 
                    merci de le signaler par courriel à l’adresse : 
                    <a href="mailto:webmaster@melvynpetit.fr">webmaster@melvynpetit.fr</a>, 
                    en décrivant le problème de la manière la plus précise possible.
                </p>
                <p>
                    Tout contenu téléchargé se fait aux risques et périls de l’utilisateur et sous sa seule responsabilité. 
                    www.melvynpetit.fr ne saurait être tenu responsable d’un quelconque dommage subi par l’ordinateur de l’utilisateur 
                    ou d’une quelconque perte de données consécutives au téléchargement.
                </p>
                <p>
                    Les liens hypertextes mis en place dans le cadre du présent site internet 
                    en direction d’autres ressources présentes sur le réseau Internet 
                    ne sauraient engager la responsabilité de www.melvynpetit.fr.
                </p>

                <h2>Propriété intellectuelle</h2>
                <p>
                    Tout le contenu du présent site www.melvynpetit.fr, incluant de façon non limitative : les graphismes, images, textes, vidéos, 
                    animations, sons, logos, gifs et icônes ainsi que leur mise en forme sont la propriété exclusive de la société, 
                    à l’exception des marques, logos ou contenus appartenant à d’autres sociétés partenaires ou auteurs.
                </p>
                <p>
                    Toute reproduction, distribution, modification, adaptation, retransmission ou publication, même partielle, 
                    de ces différents éléments est strictement interdite sans l’accord exprès par écrit de www.melvynpetit.fr.
                </p>
                <p>
                    Cette représentation ou reproduction constitue une contrefaçon sanctionnée par les articles L.335-2 et suivants 
                    du Code de la propriété intellectuelle. Le non-respect de cette interdiction constitue une contrefaçon 
                    pouvant engager la responsabilité civile et pénale du contrefacteur.
                </p>
                <p>
                    En outre, les propriétaires des contenus copiés pourraient intenter une action en justice à votre encontre.
                </p>

                <h2>Litiges</h2>
                <p>
                    Les présentes conditions du site <a href="https://www.melvynpetit.fr" target="_blank">www.melvynpetit.fr</a> 
                    sont régies par les lois françaises. Toute contestation ou litige qui pourrait naître 
                    de l’interprétation ou de l’exécution de celles-ci sera de la compétence exclusive des tribunaux 
                    dont dépend le siège social de la société. La langue de référence, pour le règlement de contentieux éventuels, est le français.
                </p>

                <h2>Données personnelles</h2>
                <p>
                    De manière générale, vous n’êtes pas tenu de nous communiquer vos données personnelles 
                    lorsque vous visitez notre site internet www.melvynpetit.fr.
                </p>
                <p>
                    Cependant, ce principe comporte certaines exceptions. Pour certains services proposés, 
                    vous pouvez être amenés à fournir des informations comme : votre nom, votre prénom, 
                    le nom de votre société, votre adresse électronique, et votre numéro de téléphone.
                </p>
                <p>
                    Tel est le cas lorsque vous remplissez le formulaire dans la rubrique « contact ».
                </p>
                <p>
                    Il est à noter que vous pouvez refuser de fournir vos données personnelles. 
                    Dans ce cas, vous ne pourrez pas utiliser le formulaire de contact inclu dans les services du site.
                </p>
            </div>
        </main>
	</body>
</html>

<style>
    main{
        margin: 1em;
        font-family: 'Arial', 'sans-serif';
    }
</style>