---
import '../assets/styles/styles.css'
---

<!doctype html>
<html lang="fr">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" href="/favicon.ico" />
		<meta name="description" content="Melvyn PETIT, développeur web freelance pour vos projets web et e-commerce.">
		<meta property="og:title" content="Melvyn PETIT | Développeur web">
		<meta property="og:description" content="Développeur web freelance pour vos projets web et e-commerce.">
		<meta property="og:image" content="https://www.melvynpetit.fr/img/pp.jpg">
		<meta property="og:url" content="https://www.melvynpetit.fr">
		<meta property="og:type" content="website">
		<title>Melvyn PETIT | Développeur web</title>
	</head>
	<body>
		<slot />
	</body>
</html>

<style>
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
	}
</style>
